body {
    background: url('img/etoiles.jpg');
    background-size: cover;
    overflow: hidden;
    color: #FFB13A;
}

.crawl {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0 auto;
    font-weight: 800;
    font-size: 50px;
    line-height: 80px;
    width: 1000px;
    height: 1600px;
    transform: perspective(250px) rotateX(20deg);
    animation: scrollCrawl 90s linear;
}

.nom {
    text-align: center;
    margin: 40px 0;
}

.titre {
    text-align: center;
    margin: 0 0 100px 0;
}

@keyframes scrollCrawl {
    0% {
        tranform: perspective(250px) rotateX(20deg) translateY(680px);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: perspective(250px) rotateX(20deg) translateY(-4000px);
        opacity: 0;
    }
}